@import "tailwindcss";



@layer base {
  body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
  @apply bg-slate-950 text-white;
  color: #1f2937;
  margin: 0;
  padding: 0;
  }
}